.container {
    width: 100%;
    max-width: 100vw;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .imageContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 40%; 
  }
  
  .imageContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .darkImage {
    background-image: url('https://cdn.pixabay.com/photo/2016/12/09/21/13/background-1896043_640.jpg');
  }